<html lang="en">
<head>
  <title>Admin Panel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='/assets/favicon.ico')}}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/dash.css')}}"  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


  
</head>
<body>
    

<div class="container">
  
  
  <table class="table" style="border: 2px solid white;">
    
    <thead>
      
      <tr>
        
          <th>#</th>
          <th>Username</th>
          <th>Email</th>
          <th>Password</th>
          <th>Role</th>
          <th>About</th>
          <th>Date/Time</th>
          <th>Edit</th>
          <th>Delete</th>
          <th></th>
          
          <th><div class="d-flex justify-content-end mb-4" id="log_but"><a class="btn btn-primary text-uppercase" href="/logout">Logout</a></div></th>

      </tr>
    </thead>
  
    <tbody>
        {% for user in posts %}
      <tr>
        <td>{{user.sno}}</td>
        <td>{{user.user_name}}</td>
        <td>{{user.user_email}}</td>
        <td>{{user.user_pass}}</td>
        <td>{{user.user_role}}</td>
        <td>{{user.user_about[0:150]+"..."}}</td>
        <td>{{user.date}}</td>
        <td><a href="/edit/{{user.sno}}"><i class="fa-solid fa-pen fa-xl" id="edit_but"><button></button></i></a></td>
        <td><a href="/delete/{{user.sno}}"><i class="fa-regular fa-trash-can fa-xl" id="del_but"><button></button></i></a></td>
        <td></td>
        <td></td>
        
      </tr>
      
      {% endfor %}
    </tbody>
   
  </table>
 
</div>

</body>
</html>